
.barra{
	background-color:#D50343;
	font-family: 'Merriweather';
	font-size: 20px;
}
.navbar-default{
	margin-bottom: 0px;
}
.fondo{
	background-image: url(../img/creamy.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 500px;	
}
.banner{
	padding-top: 150px;
	color: #D50343;
	background-color: rgba(0, 0, 0, 0.5);
	height: 500px;
	width: 100%;
}
.helado{
	background-color: #FBF2B2;
	height: auto;
}
.texto{
	padding-top: 40px;
	padding-left: 15px;
	text-align: center;
	color:#D50343; 
	font-family: 'Merriweather';
}
.texto1{
	padding-top: 40px;
	padding-left: 40px;
	text-align: center;
	color:#D50343; 
	font-family: 'Merriweather';
}
.smaller-image{
	width: 100%;
	height: auto;
	padding-top: 10px;
	padding-left: 20px;
	padding-bottom: 10px;
}
.helado2{
	background-color: #D50343;
	height: auto;
}
.texto2{
	padding: 40px;
	text-align: center;
	color:#FAFC70; 
	font-family: 'Merriweather';
}
.icono{
	font-size: 60px;
}
.tag{
	margin-left: -20px;
	padding-bottom: 10px;
}
.pie{
	background-color: #D50343;
	height: 40px;
	color: #FBF2B2;
}
h1, h4{
	font-family: 'Indie Flower', cursive;
	font-size: 48px;
	color:#FAFC70; 
}
nav.navbar ul.nav li{
	color:#FBF2B2; 
	font-family: 'Indie Flower', cursive;
}
h2{
	font-family: 'Indie Flower', cursive;
	}

/*boton sroll to top*/
.back-to-top {
 
background: #D50343;
 
margin: 0;
 
position: fixed;
 
bottom: 0;
 
right: 0;
 
width: 40px;
 
height: 30px;
 
z-index: 100;
 
display: none;
 
text-decoration: none;
 
color:#FBF2B2 ;
 
}
 
  
 
.back-to-top i {
 
  font-size: 20px;
  color: #FBF2B2;
}